body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
section {
    width: 45%;
    height: 300px;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0; /* Видалення зовнішніх відступів */
    flex-grow: 1; /* Розтягнення блоків на всю доступну ширину */
    border: 2px solid #333; /* Додавання межі */
    box-sizing: border-box; /* Врахування межі у розрахунку ширини */
}
section:nth-child(odd) {
    background-color: #2196F3;
}
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
li {
    margin-bottom: 5px;
}
li span {
    font-weight: bold;
}